.parent_center{
z-index: 999;
  width: 800px;
  height: 200px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.164);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.super{
   margin:auto;
   z-index: 999;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.249);
  height: 100%;
   
  
  display: flex;
  justify-content: center;
  align-items: center
 }